@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Edu QLD Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.active{
    color: #daadad;
    text-decoration: underline;
    font-weight: bold;
}

body , html{
    overflow-x: hidden;
}


/* Navbar */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: whitesmoke;
    /* border: 2px solid #ef0000; */
    font-size: 25px;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid #fff; */
    width: 500px;
    font-size: 25px;
}

.mobile-menu{
    margin-top: 0px;
}

.nav-links li{
    margin: 30px auto;
}
 
header{
    width: 100vw;
    height: 90vh;
    background-image: url('./images/bg2.jpg');
    background-position: bottom;
    background-size: cover;
    background-color: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* border: 2px solid blue; */
}

.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 5vmin;
}

.line{
    width: 150px;
    height: 4px;
    background: #a53696;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn{
    padding: 8px 15px;
    background: #daadad73;
    border-radius: 30px;
    color: rgb(32, 3, 3);
}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* Events */
section{
    width: 80%;
    margin: 80px auto;
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: #1107499c;
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /* background: cadetblue; */
}

.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row .col img{
    width: 500px;
    height: 350px;
}

.events .row{
    margin-top: 50px;
}

h4{
    font-size: 3vmin;
    color: #881278;
    margin: 20px auto;
}

p{
    color: #000000;
    padding: 0px 40px;
    font-size: 20px;
}

.events .ctn{
    margin-top: 30px;
}

.explore{
    width: 100%;
    height: 85vh;
    background-image: url('./images/bg1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1{
    font-size: 7vmin;
    /* margin: 50px; */
}

.explore-content .line{
    margin-bottom: 50px;
}

.explore-content p{
    color: whitesmoke;
}

.explore-content .ctn{
    margin-top: 49px;
}

.images-content {
    width: 40%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-wrapper {
    position: relative;
    width: 220px;
    height: 270px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: grayscale(100%);     /*  black & white */
    transition: filter 0.3s ease;  /*  smooth effect */
}

.image-wrapper:hover img {
    filter: grayscale(0%);         /* show original color */
}


/* Gradient overlay */
/* .image-wrapper::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(36, 19, 131, 0.6), rgba(105, 36, 121, 0.445));
    transition: opacity 0.3s ease;
    opacity: 1;
} */

/* On hover → show original image */
/* .image-wrapper:hover::after {
    opacity: 0;
} */

/* Trips */
.trips{
    width: 90%;
    /* border: 2px solid red; */
}

.content-col{
    width: 50%;
    padding: 20px;
    /* border: 2px solid green; */
}

.image-col{
    width: 50%;
    padding: 10px;
    /* border: 2px solid blue; */
}

.trips .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.image-gallery img{
    width: 230px;
    margin: 10px;
}

.content-col h1{
    font-size: 7vmin;
    color: #1107499c;
}

.content-col .line{
    margin-left: 1px;
}

.content-col .ctn{
    margin-left: -100px;
}

.footer{
    width: 100%;
    min-height: 75px;
    padding: 20px 80px;
    margin: 0;
    background: #1107499c;
    text-align: center;
}

.footer p{
    color: whitesmoke;
    margin: 15px auto;
}

.footer .address span{
    margin: 0 25px;
}

.copyright{
    width: 100%;
    text-align: center;
    font-weight: 500;
}


/* Moblie Device */ 
@media only screen and (max-width : 850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;    
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 80vh;
        justify-content: center;
        background-color: #36022f9c;
        margin-top: -900px;
        transition: all 0.5s ease;
        font-size: 30px;
    }
    .mobile-menu{
        margin-top: 0px;
    }
    .nav-links li{
        margin: 30px auto;
    }
}